#main-title {
    text-align: center;
    color: #50C878;
}

#event-cards-container {
    max-width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0 auto;
}